################################################
###############  .gitignore   ##################
################################################


################################################
# Dependencies
################################################
node_modules
bower_components



################################################
# Miscellaneous
################################################
*~
*#
.idea
prepros.cfg
prepros-6.config
